.musicals-container {
    margin: 10px auto;
  }
  h3 {
    width: 100px;
    margin: 30px auto;
    text-align: center;
  }
  .musical {
    border-top: solid #c3bfc0;
    margin-top: 10px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  .main-box {
    margin: 5px 0;
    justify-content: space-between;
    
    
  }
  .main-box iframe{
    
    align-items: center;

  }

  