first-block {
    background-image: url("C:/Users/Amano/OneDrive - 北九州市立大学/画像/Images/mic.jpg");
    background-size: cover;
    width: 100%;
    height: 550px;
  
    display: flex;
    justify-content: left;
    align-items: center;
  }