.post-container {
    margin: 75px auto;
    width: 65%;
    border: solid #d3def1;
    border-radius: 10px;
    text-align: center;
    background-image: url("theater.jpg"); 
    
    background-size: cover;
    
    
  }
  .title {
    color: whitesmoke;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 50px;
  }
  
  
  